<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reelbreaker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name=".ReelBreakerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ReelBreaker"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReelBreaker">

        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.StatsActivity" />
        <activity
            android:name=".ui.BlockOverlayActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.ReelBreaker.Overlay" />
        <activity
            android:name=".ui.MindfulTileActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.ReelBreaker.Overlay" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ReelBlockerAccessibilityService"
            android:exported="false"
            android:label="ReelBreaker Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name=".service.ForegroundMonitorService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
